@font-face {
  font-family: Georgia, 'Times New Roman', Times, serif;
  src: url("../../assets/fonts/georgia-regular.ttf");
}

@font-face {
  font-family: Georgia, 'Times New Roman', Times, serif;
  src: url("../../assets/fonts/georgia-bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Georgia, 'Times New Roman', Times, serif;
  src: url("../../assets/fonts/georgia-italic.ttf");
}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url("../../assets/fonts/arial-regular.ttf");
}

@font-face {
  font-family: Arial, Helvetica, sans-serif;
  src: url("../../assets/fonts/arial-italic.ttf");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  list-style: 1;
  font-size: 15px;
  color: #545454;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;
}


/* Header */
.header {
  background: #FFFFFF;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1;
}
.header__container {
  position: relative;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo__title a {
  position: relative;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;  
}
.header__logo__subtitle {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: calc(15 / 13 * 100%);
  color: #292929;
  margin: 10px 0px 0px 4px;
}
.menu__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__list {
  margin-bottom: 2px;
}
.menu__link {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  margin-left: 36px;
  transition: .5s;
}
.menu__link:hover {
  color: #292929;
}
.active {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
}


/* Our friends */

.friends {
  min-height: 1342px;
  background-color: #F6F6F6;
}
.friends__title {
  text-align: center;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  padding-top: 80px;
}
.friends__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.friends__cards__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px 40px;
}
.friends__cards {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: .5s;
}
.friends__cards h3 {
  font-size: 20px;
  line-height: calc(23 / 20 * 100%);
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin-top: 30px;
}
.friends__cards__button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #F1CDB3;
  margin: 30px 41.5px;
  border-radius: 100px;
  min-width: 187px;
  min-height: 52px;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  transition: .5s;
}
.friends__cards:hover .friends__cards__button{
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}
.friends__cards:hover {
  background-color: #FFFFFF;
}
.cards1 {
  background-image: url("../../assets/images/katrine.png");
  border-radius: 9px 9px 0px 0px;
  position: relative;
  background-color: #FAFAFA;
  width: 270px;
  height: 270px;
}
.cards2 {
  background-image: url("../../assets/images/jennifer.png");
  border-radius: 9px 9px 0px 0px;
  background-color: #FAFAFA;
  position: relative;
  width: 270px;
  height: 270px;
}
.cards3 {
  background-image: url("../../assets/images/woody.png");
  border-radius: 9px 9px 0px 0px;
  background-color: #FAFAFA;
  position: relative;
  width: 270px;
  height: 270px;
}
.cards4 {
  background-image: url("../../assets/images/sophia.png");
  border-radius: 9px 9px 0px 0px;
  background-color: #FAFAFA;
  position: relative;
  width: 270px;
  height: 270px;
}
.cards5 {
  background-image: url("../../assets/images/timmy.png");
  border-radius: 9px 9px 0px 0px;
  background-color: #FAFAFA;
  position: relative;
  width: 270px;
  height: 270px;
}
.cards6 {
  background-image: url("../../assets/images/charly.png");
  border-radius: 9px 9px 0px 0px;
  background-color: #FAFAFA;
  position: relative;
  width: 270px;
  height: 270px;
}
.cards7 {
  background-image: url("../../assets/images/scarlett.png");
  border-radius: 9px 9px 0px 0px;
  background-color: #FAFAFA;
  position: relative;
  width: 270px;
  height: 270px;
}
.cards8 {
  background-image: url("../../assets/images/freddie.png");
  border-radius: 9px 9px 0px 0px;
  background-color: #FAFAFA;
  position: relative;
  width: 270px;
  height: 270px;
}
.friends__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 20px;
}
.friends__button {
  cursor: pointer;
  font-family: Georgia;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  background-color: inherit;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  transition: .5s;
}
.friends__button:hover {
  background-color: #F1CDB3;
}
.disabled {
  cursor: default;
  border: 2px solid #CDCDCD;
  background-color: inherit;
}
.disabled:hover {
  background-color: #F6F6F6;
}
.arrow-left-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/icons/__left_left.svg");
  width: 25px;
  height: 11px;
  margin-left: 12px;
}
.arrow-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/icons/_left.svg");
  width: 10px;
  height: 11px;
  margin-left: 18px;
}
.friends__active {
  margin-top: -2px;
  background-color: #F1CDB3;
}
.arrow-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/icons/_right.svg");
  width: 10px;
  height: 11px;
  margin-left: 18px;
}
.arrow-right-right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/icons/__right_right.svg");
  width: 25px;
  height: 11px;
  margin-left: 12px;
}


/* Footer */

.footer {
  min-height: 350px;
  padding-top: 40px;
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  width: 100%;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 310px;
}
.footer__title__first {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 16px;
  gap: 40px;
}
.footer__title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer__title__email {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-top: 2px;
}
.footer__title__email__image {
  background-image: url("../../assets/icons/mail.svg");
  width: 40px;
  height: 26px;
}
.footer__title__tel__image {
  background-image: url("../../assets/icons/phone.svg");
  width: 40px;
  height: 32px;
}
.footer__title__address__image {
  background-image: url("../../assets/icons/pin.svg");
  width: 22px;
  height: 32px;
}
.footer__link {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
  color: #F1CDB3;
}
.footer__title__tel {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-top: 3px;
}
.footer__title__second {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
  margin: 16px 5px 0px 0px;
}
.footer__address__first {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-top: -7px;
}
.footer__address__second {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  margin-top: -8px;
}
.footer__picture {
  background-image: url("../../assets/images/footer-puppy.png");
  width: 300px;
  height: 310px;
}