* {
  padding: 0;
  margin: 0;
}

body {
  width: 1000px;
  margin: 0 auto;
}

.keyboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid black;
  width: 1000px;
  padding: 5px;
  border-radius: 5px;
  background-color: #888888;
}

.key {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  background-color: gray;
  border-radius: 5px;
  color: white;
  min-width: 45px;
  height: 50px;
  border: 1px solid black;
  margin: 3px;
  padding: 0 5px 0 5px;
}

.key.Enter,
.key.CapsLock,
.key.ShiftLeft,
.key.ShiftRight {
  width: 120px;
  background-color: black;
}

.key.Space {
  width: 420px;
}
.key.Backspace {
  width: 140px;
  background-color: black;
}

.key.Tab {
  width: 70px;
  background-color: black;
}

.key.Delete,
.key.ArrowUp,
.key.ControlLeft,
.key.ControlRight,
.key.MetaLeft,
.key.AltLeft,
.key.AltRight,
.key.ArrowDown,
.key.ArrowLeft,
.key.ArrowRight {
  background-color: black;
}

.key:hover {
  background-color: yellowgreen;
}

.active {
  background: yellow;
}

.textarea {
  display: block;
  width: 960px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  color: #444444;
  border: 2px solid black;
}

.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 600px;
  margin-top: 10px;
}

.text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600px;
  margin-top: 20px;
}